@model HomeWebApi.Burner
@{
    Layout = null;
}
<div class="_burners" id="@Model.Name">
    @{
        if (Model.State)
        {
            <span class="_burnerPanelState">On</span>
        }
        else
        {
            <span class="_burnerPanelState">Off</span>
        }
        if (!Model.State)
        {
            <img src="~/Content/Picture/BurnerOff.jpg" class="_burnerImage" />
        }
        else if (Model.State && Model.BurnerLevel == SetLevel.Low)
        {
            <img src="~/Content/Picture/BurnerLow.jpg" class="_burnerImage" />
        }
        else if (Model.State && Model.BurnerLevel == SetLevel.Medium)
        {
            <img src="~/Content/Picture/BurnerMedium.jpg" class="_burnerImage" />
        }
        else if (Model.State && Model.BurnerLevel == SetLevel.Height)
        {
            <img src="~/Content/Picture/BurnerHeight.jpg" class="_burnerImage" />
        }
    }
    <button type="button" class="_burnerButtonOnOff" onclick="BurnerOnOff('@Model.Id', '@Model.Name')">OnOff</button>
    <button type="button" class="_burnerButtonLevel" onclick="BurnerLevelDown('@Model.Id', '@Model.Name')"><</button>
    <button type="button" class="_burnerButtonLevel" onclick="BurnerLevelUp('@Model.Id', '@Model.Name')">></button>
</div>
